<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!DOCTYPE HTML>
<html>

<div class = "title">
	SMART Lab Dashboard
</div>

<div class="navigationBar">
	<a class="active" href="#home">Home</a>
	<a href="#data">Data</a>
	<a href="#equipment">Equipment</a>
	<a href="#physicalAssets">Physical Assets</a>
	<a href="#jobs">Jobs</a>
</div>

<body>

	<!-- Adding grid areas to website. -->

	<div class="gridContainer">

		<div class="side"></div>

		<!-- Adding data into table. -->
		<div class="main">

			<table border=1>
				<tr>
					<app-table-header [tagNames]=allData.tagNames></app-table-header>
				</tr>

				<tr *ngFor="let dataPoint of allData.generalData">
					<app-table-row-data [dataPoint]=dataPoint [tagNames]=allData.tagNames> </app-table-row-data>
				</tr>
			</table>

			<!-- Adding charts into table. -->

			<div>
				<app-graph></app-graph>
				<app-dynamic-line-graph></app-dynamic-line-graph>
			</div>


		</div>

		<div class="footer">The emphasis on ambiguity in the play, and the absence of overt instruction on how to overcome such ambiguity is Shakespeare's testament to real life. Each one of us has experienced Hamlet's struggle to find the truth in a
			mire of delusion and uncertainty, often to no avail. As Kenneth Muir points out in Shakespeare and the Tragic Pattern:
		</div>

	</div>


	<router-outlet></router-outlet>

</body>

</html>
