<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!DOCTYPE HTML>
<html>

<div class="title">
	SMART Lab Dashboard
</div>

<div class="navigationBar">

	<a routerLink="/home" routerLinkActive = "active">Home</a>
	<a routerLink="/data" routerLinkActive = "active">Data</a>
	<a routerLink="/equipment" routerLinkActive = "active">Equipment</a>
	<a routerLink="/physicalAssets" routerLinkActive = "active">Physical Assets</a>
	<a routerLink="/jobs" routerLinkActive = "active">Jobs</a>

</div>

<body>

	<router-outlet></router-outlet>

</body>

</html>


<!-- Old source code for graphs

<div class="gridContainer">

	<div class="side">side</div>

	<div class="main">


		<table border=1>
			<tr>
				<app-table-header [tagNames]=allData.tagNames></app-table-header>
			</tr>

			<tr *ngFor="let dataPoint of allData.generalData">
				<app-table-row-data [dataPoint]=dataPoint [tagNames]=allData.tagNames> </app-table-row-data>
			</tr>
		</table>


		<div>
			<app-graph></app-graph>
			<app-dynamic-line-graph></app-dynamic-line-graph>
		</div>


	</div>

	<div class="footer">footer</div>

</div>

-->
