/* You can add global styles to this file, and also import other style files */


.title{
     padding: 40px;
     background-color: #cc5500;
     color: white;
     text-align: center;
     font-size: 50px;
     font-weight: bold;
     border-style: dotted;
     border-width: 3.5px;
     border-color: maroon;
}

/* Add a Maroon background color to the top navigation */
.navigationBar {
  background-color: #800000;
  overflow: hidden;
  border-style: dotted;
  border-width: 3.5px;
  border-color: white;
}

/* Style the words/links inside the navigation bar */
.navigationBar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Changing the color of links when hover */
.navigationBar a:hover {
  background-color: #cc5500;
  color: black;
}

/* Add a color to the active/current link */
.navigationBar a.active {
  background-color: #cc5500;
  color: white;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: .75fr 2fr 1fr;
  /* Allowing grid container to be flexible with item size. */
  grid-auto-columns: minmax(100px, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-column-gap: 4.5px;
  grid-row-gap: 4.5px;
  grid-template-areas:
    "side side main main"
    "footer footer footer footer";
  justify-items: stretch;
  align-items: stretch;
}

/* Never used.

.menuBar {
  grid-area: menuBar;
  background: #DC143C;
  grid-column: 1/5;
  border-style: dashed;
  border-width: 3.5px;
  border-color: grey;
}

*/

.side {
  grid-area: side;
  background: #205c71;
  grid-column: 1/2;
  border-style: dashed;
  border-width: 3.5px;
  border-color: grey;
}

.main {
  grid-area: main;
  background: #7FFF00;
  grid-column: 2/5;
  border-style: dashed;
  border-width: 3.5px;
  border-color: grey;
}

.footer {
  grid-area: footer;
  background: #205c71;
  grid-column: 1/5;
  border-style: dashed;
  border-width: 3.5px;
  border-color: grey;
}
