<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<!DOCTYPE HTML>
<html>

<header>
	<div class = "container">
		<a href="#" class = logo> SMART Lab Dashboard</a>
		<nav>
			<ul>
				<li><a href="#" routerLink = "/">Home</a></li>
				<li><a href="#" routerLink = "/list">Printers</a></li>
			</ul>
		</nav>
	</div>
</header>

<body> 

<!-- Setting up layout for website -->

<div class="gridContainer">

  <div class="menuBar">Hamlet, the first in Shakespeare's series of great tragedies, was initially classified as a problem play when the term became fashionable in the nineteenth century. Like Shakespeare's other problem plays -- All's Well that End's Well, Troilus and Cressida and Measure for Measure -- Hamlet focuses on the complications arising from love, death, and betrayal, without offering the audience a decisive and positive resolution to these complications. This is due in part to the simple fact that for Hamlet, there can be no definitive answers to life's most daunting questions. Indeed, Hamlet's world is one of perpetual ambiguity.
</div>

  <div class="graph1">graph1</div>

  <!-- Creating table for data recieved in app.component.ts -->

  <div class="graph2">
  	
   <p *ngFor="let dataPoint of allData; let i = index">
   	{{dataPoint.allData}} at {{i}}
   </p>

  </div>

  <div class="graph3">Hamlet also can be sub-categorized as a revenge play, the genre popular in the Elizabethan and Jacobean periods. Elements common to all revenge tragedy include: 1) a hero who must avenge an evil deed, often encouraged by the apparition of a close friend or relative; 2) scenes of death and mutilation; 3) insanity or feigned insanity; 4) sub-plays; and 5) the violent death of the hero. Seneca, the Roman poet and philosopher, is accepted to be the father of such revenge tragedy, and a tremendous influence on Shakespeare. Thomas Kyd's Spanish Tragedy, written in 1592, is credited with reviving the Senecan revenge drama as well as spawning many other plays, such as Marlowe's The Jew of Malta, Webster's The Duchess of Malfi, the Ur-Hamlet (see the sources section), and Shakespeare's own Titus Andronicus, in addition to Hamlet.
</div>
  <div class="graph4">graph4</div>
</div>

<app-graph></app-graph>
<router-outlet></router-outlet>

</body>
</html>






