<p>data works!</p>

<div class="gridContainer">

	<div class="side">
		side
		<select> Choose tag to represent data.
  			<option value="temp">temp</option>
  			<option value="speed">speed</option>
  			<option value="pos">pos</option>
		</select>
		<a>Graph</a>
		<a>Table</a>
	</div>

     <div class="main">
		main
		<table>
			<tr>
				<td>
					start
				</td>
				<td>
					<input id = "startTime" type="datetime-local">
				</td>
			</tr>
			<tr>
				<td>
					end
				</td>
				<td>
					<input id = "endTime" type="datetime-local">
				</td>
			</tr>
		</table>
		<button (click) = "sendRequest()"> Go </button>



     </div>

	<div class="footer">footer</div>

</div>
